body {
	background-color: #f6f6fa;
	font-family: sans-serif;
}

/* Vue.js */
	[v-cloak] {
		display: none;
	}
	
/* Inputs */
	.section-divider {
		height: 0;
		margin-left: -0.5rem;
		margin-right: -0.5rem;
		overflow: hidden;
		border-top: 1px solid #b9cee3;
	}
	.section-header {
		margin-top: 90px;
		margin-bottom: 10px;
		font-size: 1.8rem;
		color: #1a7d8a;
		text-decoration: underline;
	}
	.form-group {
		background-color: white;
		position: relative;
		margin: 0 0 18px 0;
		padding: 21px 22px 12px 22px;
		border-radius: 6px;
		box-shadow: 0 0 2px 0px #818181 inset;
	}
	.form-group-title {
		margin: -15px 0 -1px -6px;
		padding-right: 20px;
		width: 100%;
		color: #003d65;
		font-size: 1.75rem;
		z-index: 3;
		user-select: none;
	}
	.form-group-title-text {
		background-color: white;
		padding-right: 20px;
	}
	.form-group-divider {
		position: absolute;
		top: 28px;
		height: 0px;
		width: 94%;
	}
	.form-group-divider-edit {
		position: absolute;
		top: -16px;
		right: 0;
		height: 24px;
		width: 60px;
		background-color: white;
		z-index: 4;
	}
	.form-group-divider-edit svg {
		float: right;
		color: #003d65;
		cursor: pointer;
		user-select: none;
	}
	#complaint-form .form-group-divider {
		top: -18px;
	}
	.app-page-content-question {
		margin-top: 11px;
    	margin-bottom: 11px;
	}
	.form-group .app-page-content-question {
		padding: 0 5px;
	}
	.input-label-format {
		position: absolute;
		top: -12px;
		left: 22px;
		z-index: 1;
		padding: 0px 8px;
		margin-bottom: 0;
		background-color: white;
		color: #4d4d4d;
		font-size: 0.875rem;
		border-radius: 10px;
		user-select: none;
		pointer-events: none;
		transition: linear all .1s;
	}
	.form-group .input-label-format {
		left: 12px;
	}
	.input-label-format-null {
		top: 8px;
		font-size: 0.875rem;
	}
	.input-format:focus ~ .input-label-format-null,
	.input-format-select:focus ~ .input-label-format-null,
	.input-format-textarea:focus ~ .input-label-format-null {
		top: -12px;
		font-size: 0.875rem;
	}
	.input-label-format-required:after {
		color: red;
		content: " *";
	}
	.input-format, .input-format-select, .input-format-textarea {
		font-size: 1.1rem;
		border-radius: 6px;
		border: 1px solid #c2c7cb;
		box-shadow: inset 0 0 2px lightgrey;
		transition: linear all .1s;
	}
	.input-format:disabled,
	.input-format-select:disabled,
	.input-format-textarea:disabled {
		background-color: #fdfeff;
		border-color: transparent;
		box-shadow: none;
		color: black;
	}
	.form-group .input-format:disabled ~ .input-label-format,
	.form-group .input-format-select:disabled ~ .input-label-format,
	.form-group .input-format-textarea:disabled ~ .input-label-format {
		top: -12px;
		left: 4px;
		background-color: #fdfeff;
		color: #696969;
	}
	.input-format:disabled ~ .input-required-text,
	.input-format-select:disabled ~ .input-required-select,
	.input-format-textarea:disabled ~ .input-required-textarea {
		display: none;
		height: 0;
	}
	.input-format, .input-format-textarea {
		-webkit-appearance: none;
		padding: 5px 12px 2px 12px;
	}
	.input-format-select {
		padding: 6px 8px 4px 8px;
	}
	.input-format-select option {
		background-color: #eaf4ff;
	}
	.input-format-textarea {
		resize: none;
	}
	.input-format:focus, .input-format-select:focus, .input-format-textarea:focus {
		border: 1px solid #58a2d3;
		box-shadow: 0 0 3px #b3d5ff;
		outline: none;
	}
	.input-label-format-set {
		margin-bottom: 0;
		padding-top: 8px;
		font-size: 1.12rem;
		color: #767676;
	}
	@media handheld, only screen and (min-width: 768px) and (max-width: 991px) {
		.input-label-format-set {
			padding-top: 0;
			margin-top: -8px;
		}
	}
	.input-format-radio {
		opacity: 0;
	}
	.input-label-format-radio {
		padding: 8px 30px;
		margin: 4px;
		border: 1px solid #c2c7cb;
		border-radius: 6px;
		cursor: pointer;
		outline: none;
		user-select: none;
		transition: all .1s;
	}
	.input-format-radio:focus + .input-label-format-radio {
		border: 1px solid #288079;
		outline: none;
	}
	.input-format-radio:checked + .input-label-format-radio {
		background-color: #4b6679;
		color: white;
		border: 1px solid #288079;
		box-shadow: 1px 1px 2px darkgrey;
	}
	.input-label-format-passed:focus {
		border: 1px solid greenyellow !important;
	}
	.input-label-format-failed {
		border: 1px solid lightcoral !important;
	}
	.input-label-format-changed {
		border: 1px solid #de8821 !important;
	}
	input[type=radio] {
		width: 0;
		height: 0;
		visibility: visible;
		opacity: 0;
	}
	.input-required-failed {
		border: 1px solid #E64423;
		margin-bottom: 6px;
	}
	.input-required-text, .input-required-select, .input-required-textarea {
		display: none;
		position: absolute;
		left: 22px;
		font-size: .875rem;
		color: #E64423;
	}
	.input-required-radio {
		display: none;
		width: 100%;
		font-size: .875rem;
		color: #E64423;
	}
	.input-required-text {
		top: 42px;
	}
	.input-required-textarea {
		top: 187px;
	}
	.input-required-select {
		top: 45px;
	}
	.input-required-radio {
		top: 70px;
	}
	.input-required-failed ~ .input-required-text,
	.input-required-failed ~ .input-required-textarea,
	.input-required-failed ~ .input-required-select,
	.input-required-failed ~ .input-required-radio {
		display: block;
	}
	.input-fieldset-checkbox:disabled input[type="checkbox"]:not(:checked), .input-fieldset-checkbox:disabled input[type="checkbox"]:not(:checked) ~ * {
		opacity: 0;
		height: 0;
		margin-top: -28px;
	}
	.input-fieldset-checkbox-label {
		padding: 0px 8px;
		color: #4d4d4d;
		font-size: 0.875rem;
		user-select: none;
	}
	input[type="checkbox"] {
		opacity: 0;
		height: 0;
		width: 0;
	}
	.input-label-format-checkbox {
		width: 100%;
		margin-bottom: 0;
		padding: 0px 12px;
		cursor: pointer;
		user-select: none;
		display: flex;
	}
	.input-label-format-checkbox-text {
		position: relative;
		top: 5px;
		left: 5px;
	}
	.input-format-checkbox-display {
		display: inline-block;
		height: 25px;
		width: 25px;
		margin: 3px 0px;
		padding: 0;
		border: 1px solid #accbff;
		border-radius: 6px;
		box-shadow: 0 0 2px -1px #246ef0;
		cursor: pointer;
	}
	.input-format-checkbox-display svg {
		margin-top: -1px;
		opacity: 0;
		color: #144497;
		transition: linear .075s all;
	}
	.input-label-format-checkbox input[type="checkbox"]:checked ~ .input-format-checkbox-display svg {
		opacity: 1;
	}

/* Navigation Bar */
	#app-nav {
		background-color: #0071BC;
		position: fixed;
		top: 0;
		width: 100%;
		padding: 6px 0 0 20px;
		color: white;
		z-index: 99;
	}
	.nav-text {
		margin-top: 12px;
		font-size: 	1.125rem;
		text-transform: capitalize;
	}
	#nav-paths {
		justify-content: flex-end;
		padding-right: 20px;
	}
	.nav-path {
		min-width: 55px;
		padding: 4px 6px 0 6px;
		margin: 0 4px;
		border: 1px solid transparent;
		border-radius: 7px 7px 0 0;
		text-align: center;
		color: white;
		text-decoration: none;
		cursor: pointer;
		user-select: none;
		transition: all linear .075s;
	}
	.nav-path:hover, .nav-path:focus:not(.nav-path-selected) {
		background-color: #0089e4;
		color: white;
	}
	.nav-path, .nav-path:hover {
		outline: none;
	}
	.nav-path-selected, .nav-path-selected:hover {
		background-color: #f9f9ff;
		color: #1b5ac7;
		border: solid #1b5ac7;
		border-width: 1px 1px 0 1px;
	}
	.nav-path-selected:focus {
		border-color: #1a4081;
		color: #0a285c;
	}
	.nav-path-icon svg {
		height: 20px;
		width: 20px;
	}
	.nav-path-text {
		font-size: 0.75rem;
	}
	.nav-path-user-popup {
		position: absolute;
		margin-top: 0px;
		padding: 10px;
		width: 240px;
		margin-left: -100px;
		background-color: white;
		color: black;
		border: 2px solid #0089e4;
		border-radius: 12px;
		box-shadow: 0 0 4px -1px grey;
		z-index: 98;
		opacity: 0;
		transition: linear .1s all;
		pointer-events: none;
	}
	.nav-path-user-popup-show {
		margin-top: 8px;
		opacity: 1;
		pointer-events: auto;
	}
	.popup-triangle {
		position: relative;
		top: -20px;
		left: 98px;
		width: 0;
		height: 0;
		margin-bottom: -10px;
		border-style: solid;
		border-width: 0 10px 10px 10px;
		border-color: transparent transparent #0089e4 transparent;
		transition: linear .1s all;
	}
	.popup-content {
		position: relative;
	}
	.popup-content-user {
		font-size: 1.25rem;
	}
	.popup-content-role {
		font-size: 1.15rem;
	}
	.popup-content-agency {
		font-size: 1rem;
	}
	.popup-content-branch {
		font-size: 0.855em;
	}
	@media only screen and (min-width: 0px) and (max-width: 575px) {
		#app-nav {
			padding: 6px 0 0 0;
		}
		.nav-text {
			width: 100%;
			font-size: 1.25rem;
			margin-bottom: 10px;
		}
		#nav-paths {
			justify-content: center;
		}
		.nav-path {
			margin: 1px;
		}
	}

/* App */
	#app-content {
		padding: 12px 25px 0 25px;
		margin-top: 52px;
	}
	@media only screen and (min-width: 601px) and (max-width: 767px) {
		#app-content {
			padding: 10px 25px;
		}
	}
	@media only screen and (min-width: 0px) and (max-width: 575px) {
		#app-content {
			padding: 10px 0;
			margin-top: 92px;
		}
	}

/* Skip To Content */
	#skip-to-content {
		background-color: white;
		position: absolute;
		top: -36px;
		left: 10px;
		padding: 4px 14px;
		border: 1px solid blue;
		border-radius: 8px;
		z-index: 999;
		transition: .1s all;
	}
	#skip-to-content:focus {
		top: 4px;
		left: 4px;
		outline: none;
	}

/* Buttons */
	.btn-main {
		padding: 6px 18px;
		background-color: #f0f7ff;
		border: 1px solid #246ef0;
		border-radius: 8px;
		box-shadow: 0 0 1px #246ef0;
		color: #1b5ac7;
		font-size: 0.9375rem;
		font-weight: 600;
		user-select: none;
		transition: all linear .05s;
	}
	.btn-main:hover {
		background-color: #246ef0;
		color: white;
		border: 1px solid #1b5ac7;
	}
	.btn-main:focus {
		border: 1px solid #3063bd;
		box-shadow: 0 0 2px #246ef0, 0 0 3px #246ef0 inset;
		outline: none;
	}
	.btn-main:active {
		-webkit-transform: scale(0.94);
		transform: scale(0.94);
		box-shadow: none;
	}
	.btn-gray {
		padding: 6px 18px;
		background-color: white;
		border: 1px solid gray;
		border-radius: 12px;
		box-shadow: 0 0 1px gray;
		color: rgb(73, 73, 73);
		font-size: 0.9375rem;
		font-weight: 600;
		user-select: none;
		transition: all linear .05s;
	}
	.btn-gray:hover {
		background-color: #246ef0;
		color: white;
		border: 1px solid #1b5ac7;
	}
	.btn-gray:focus {
		border: 1px solid #3063bd;
		box-shadow: 0 0 2px #246ef0, 0 0 3px #246ef0 inset;
		outline: none;
	}
	.btn-gray:active {
		-webkit-transform: scale(0.94);
		transform: scale(0.94);
		box-shadow: none;
	}
	.btn-notification {
		padding: 0px 26px;
		background-color: white;
		border: 1px solid #b8c6e1;
		border-radius: 4px;
		box-shadow: 0 0 1px grey;
		color: rgb(73, 73, 73);
		font-size: 0.8375rem;
		font-weight: 600;
		user-select: none;
		transition: all linear .05s;
	}
	.btn-notification:hover {
		background-color: #246ef0;
		color: white;
		border: 1px solid #1b5ac7;
	}
	.btn-notification:focus {
		border: 1px solid #3063bd;
		box-shadow: 0 0 2px #246ef0, 0 0 3px #246ef0 inset;
		outline: none;
	}
	.btn-notification:active {
		-webkit-transform: scale(0.94);
		transform: scale(0.94);
		box-shadow: none;
	}
	/* Drop Down Menu */
		.drop-menu {
			float: right;
			margin-left: 8px;
			user-select: none;
		}
		.drop-menu-options {
			background-color: #f3f8fe;
			position: absolute;
			top: 38px;
			border: 2px solid #246ef0;
			border-radius: 8px;
			font-size: 0.9375rem;
			font-weight: 600;
			color: #1b5ac7;
			z-index: 1;
			overflow: hidden;
		}
		.drop-menu-options-option {
			padding: 6px 13px;
			cursor: pointer;
			transition: all linear .05s;
		}
		.drop-menu-options-option:hover {
			background-color: #246ef0;
			color: white;
		}

/* Tables */
	.app-table {
		border-collapse: collapse;
		width: 100%;
		background-color: #007acb;
		border-radius: 6px;
		border: 2px solid lightgray;
		overflow: hidden;
		user-select: none;
	}
	.table-head {
		color: white;
	}
	.table-head th {
		background-color: #007acb;
		padding: 4px 0 3px 0;
		font-size: 0.875rem;
	}
	.table-head .table-row th:first-child {
		border-radius: 7px 0 0 2px;
	}
	.table-head .table-row th:last-child {
		border-radius: 0 7px 2px 0;
	}
	.table-body {
		font-size: 0.9375rem;
	}
	.table-body .table-row:hover {
		background-color: #f3f3f3;
		cursor: pointer;
	}
	.table-body .table-row td {
		background-color: white;
		padding: 4px 12px 3px 12px;
		border-bottom: 1px solid #dee2e6;
		border-right: 1px solid #dee2e6;
	}
	.table-body .table-row:nth-child(even) td {
		background-color: #f4f7ff;
	}
	.table-body .table-row td:first-child {
		border-radius: 2px 0 0 2px;
	}
	.table-body .table-row td:last-child {
		border-radius: 0 2px 2px 0;
	}
	.table-body .table-row:hover, .table-body .table-row:hover td {
		outline: none;
		background-color: #f0f0f0;
	}
	.table-body .table-row:focus, .table-body .table-row:focus td {
		outline: none;
		background-color: #dddddd;
	}
	.row-icons [class^="icons-"] {
		float: left;
		width: 22%;
		margin: 0 5px;
		transition: .05s all;
	}
	.row-icons [class^="icons-"]:hover {
		transform: scale(1.1);
	}
	.row-icons svg {
		height: 20px;
		width: 20px;
		color: #e0e0e0;
		transform: scale(.75);
		transition: all linear .1s;
		cursor: pointer;
	}
	.table-row:hover .row-icons svg, .table-row:focus .row-icons svg {
		color: black;
		transform: scale(1);
	}
	.row-icons [class^="icons-"]:hover svg {
		color: #398ABF;
	}
	.status-text {
		float: left;
		width: 70%;
	}
	.status-marker {
		float: left;
		width: 30%;
	}
	.status-marker div {
		position: relative;
		width: 10px;
		height: 10px;
		margin: 6px 10px 0 auto;
		border-radius: 10px;
	}
	.status-marker-active {
		background-color: #6fff7b;
		box-shadow: 0 0 0px 1px #4ce745;
	}
	.status-marker-inactive {
		background-color: #f8f8f8;
		box-shadow: 0 0 0px 1px #cdcdcd;
	}
	@media only screen and (min-width: 0px) and (max-width: 767px) {
		.status-marker-active {
			width: 100%;
			background: none;
			box-shadow: none;
			color: #078700;
			font-weight: bold;
		}
		.status-marker-inactive {
			width: 100%;
			background: none;
			box-shadow: none;
			color: #757575;
		}
		.table-head .table-row th:nth-child(3) {
			display: none;
		}
		.table-head .table-row th:nth-child(6) {
			display: none;
		}
		.table-head .table-row th:nth-child(8) {
			display: none;
		}
		.table-body .table-row td:nth-child(3) {
			display: none;
		}
		.table-body .table-row td:nth-child(6) {
			display: none;
		}
		.table-body .table-row td:nth-child(8) {
			display: none;
		}
	
		.row-icons svg {
			color: rgb(92, 92, 92);
			transform: scale(1);
		}
	}

/* Modal */
	.app-page-modal {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(14, 31, 53, 0.5);
		color: black;
		z-index: 998;
		pointer-events: none;
		user-select: none;
	}
	.app-page-modal-show {
		display: block;
		pointer-events: all;
		user-select: auto;
	}
	.modal-container {
		position: relative;
		top: 200px;
		height: 400px;
		width: 700px;
		margin: auto;
		background-color: white;
		border: 1px solid #246ef0;
		border-radius: 14px;
		transition: .1s all;
	}
	.modal-close {
		position: absolute;
		top: 9px;
		right: 9px;
		padding: 3px;
		background-color: transparent;
		border: 1px solid white;
		border-radius: 14px;
		box-shadow: 0 0 2px -2px #ffd6d6 inset;
		cursor: pointer;
		transition: linear .1s all;
	}
	.modal-close:hover {
		border-color: #ffd6d6;
		box-shadow: 0 0 2px 15px #ffd6d6 inset;
	}
	.modal-close svg {
		color: red;
	}

/* Login */
	.login-content {
		background-color: white;
		padding: 18px;
		border: 2px solid #60a7d3;
		border-radius: 36px;
		box-shadow: 0 0 4px -1px #bad4ff;
	}
	@media only screen and (min-width: 0px) and (max-width: 575px) {
		.login-content {
			border-radius: 0;
		}
	}
	.login-help {
		background-color: #f4f4f4;
		padding: 10px 18px;
		border-radius: 40px;
		box-shadow: 0 0 2px #b7b7b7 inset;
	}
	.login-help-hr {
		margin: 5px 0;
	}
	.login-help-content {
		font-size: 0.875rem;
	}
	.login-form {
		padding: 14px 40px;
	}
	.login-form-header {
		margin: 4px 0 26px 0;
		color: #0071bc;
		font-size: 1.75rem;
	}
	.login-input-label {
		width: 100%;
		margin-bottom: 0;
		padding-left: 7px;
		font-size: 0.875rem;
		color: #144497;
		user-select: none;
	}
	.login-input {
		width: 100%;
		padding: 6px 12px 4px 12px;
		border: 1px solid #accbff;
		border-radius: 10px;
		box-shadow: 0 0 2px -1px #246ef0;
		color: #144497;
		transition: all linear .075s;
	}
	.login-input:focus {
		border: 1px solid #75a3f3;
		box-shadow: 0 0 2px rgb(100, 157, 255), 0 0 2px rgb(92, 152, 255) inset;
		outline: none;
	}
	.login-form-input-help {
		height: 0;
		position: relative;
		left: 8px;
		font-size: .875rem;
		color: transparent;
		user-select: none;
		transition: .1s all;
	}
	.login-form-input-help-show {
		height: 1rem;
		color: #E64423;
	}
	.login-checkbox input[type="checkbox"] {
		opacity: 0;
		height: 0;
		width: 0;
	}
	.login-checkbox label {
		cursor: pointer;
		user-select: none;
	}
	.login-checkbox-text {
		position: relative;
		top: 2px;
		left: 5px;
	}
	.login-checkbox .login-checkbox-display {
		display: inline-block;
		height: 28px;
		width: 28px;
		border: 1px solid #accbff;
		border-radius: 6px;
		box-shadow: 0 0 2px -1px #246ef0;
		cursor: pointer;
	}
	.login-checkbox .login-checkbox-display svg {
		opacity: 0;
		color: #144497;
		transition: linear .075s all;
	}
	.login-checkbox input[type="checkbox"]:checked ~ .login-checkbox-display svg {
		opacity: 1;
	}
	#login-form-submit {
		transition: all linear .15s;
	}
	.login-form-submit-loading svg {
		position: relative;
		top: -1px;
		height: 16px;
		width: 16px;
		margin-left: 10px;
		margin-right: -4px;
		stroke: #1b5ac7;
		transition: all linear .1s;
	}
	#login-form-submit:hover .login-form-submit-loading svg {
		stroke: white !important;
	}
	#forgot-password-link {
		margin-top: 16px;
		color: #0071eb;
		font-size: 0.875rem;
	}

/* Dashboard */
	#app-page-dash {
		margin-top: 14px;
	}
	.dash-content {
		padding: 12px 12px;
		background-color: white;
		border: 2px solid #60a7d3;
		border-radius: 6px;
		box-shadow: 0 0 3px -1px darkgray;
		/* box-shadow: 0 0 2px 0px #818181 inset; */
	}
	/* Notification */
		#dash-notif .dash-content {
			overflow-x: hidden;
			overflow-y: auto;
		}
		.dash-notif-title {
			font-size: 1.2rem;
			color: #2b384a;
			text-align: center;
		}
		#dash-notif hr {
			width: 70%;
			margin: 4px auto 16px auto;
		}
		.dash-notif-content {
			height: 208px;
			height: 251px;
		}
		.notification {
			background-color: #fbfdff;
			padding: 2px 3px;
			margin: 7px 0;
			cursor: pointer;
			user-select: none;
			border: 1px solid #b8c6e1;
			border-radius: 4px;
			transition: all linear .1s;
		}
		.notification:first-child {
			margin-top: 0;
		}
		.notification:hover {
			background-color: #e7f4ff;
			border: 1px solid #9cb1cf;
		}
		.notification:hover .btn-notification {
			border: 1px solid #9cb1cf;
		}
		.notification-urgent {
			border-color: pink;
		}
		.notification-icon {
			background-color: white;
			height: 30px;
			margin: 2px 0 2px 10px;
			padding: 0 5px 2px 5px;
			border: 2px solid #b4dae6;
			border-radius: 20px;
			text-align: center;
		}
		.notification-icon svg {
			margin-top: -2px;
			height: 16px;
			width: 16px;
			color: #3b4b61;
		}
		.notification-subject {
			padding-top: 2px;
			padding-left: 8px;
			color: #2b384a;
			font-size: 1rem;
		}
		.notification-subject-target {
			font-weight: bold;
		}
	/* Logs */
		#dash-logs {
			margin-top: 24px;
			height: 481px;
		}
		#app-table-dash-logs {
			box-shadow: 0 0 2px 0px #737373;
		}
		#app-table-dash-logs .table-head .table-row-search input,
		#app-table-dash-logs .table-head .table-row-search select {
			height: 0;
			padding: 0;
			border: none;
		}
		#app-table-dash-logs .table-head .table-row-search th {
			padding: 0;
		}
		#app-table-dash-logs .table-head .table-row-search {
			line-height: 0;
		}
		#app-table-dash-logs .row-id {
			width: 70px;
		}
		#app-table-dash-logs .row-status {
			width: 120px;
		}
		#app-table-dash-logs .row-type {
			width: 120px;
		}
		#app-table-dash-logs .row-complainant {
			width: auto;
		}
		#app-table-dash-logs .row-respondent {
			width: auto;
		}
		#app-table-dash-logs .row-msfw {
			width: 70px;
		}
		#app-table-dash-logs .row-filed-date {
			width: 120px;
		}
		#app-table-dash-logs .row-filed-office {
			width: 120px;
		}
		#app-table-dash-logs .row-icons {
			width: 120px;
		}

/* Complaint Form */
	#complaint-form {
		position: relative;
		top: 15px;
		padding: 18px;
		margin: auto;
		width: 75%;
		background-color: white;
		border: 1px solid #a7dcff;
		border-radius: 14px;
		box-shadow: 0 0 2px 0px #737373;
	}
	@media only screen and (min-width: 1151px) and (max-width: 1300px) {
		#complaint-form {
			width: 70%;
		}
	}
	@media only screen and (min-width: 931px) and (max-width: 1150px) {
		#complaint-form {
			width: 80%;
		}
	}
	@media only screen and (min-width: 0px) and (max-width: 930px) {
		#complaint-form {
			width: 90%;
		}
	}
	.complaint-form-header {
		background-color: white;
		position: sticky;
		top: 54px;
		width: 100%;
		padding: 16px 10px;
		margin-bottom: 18px;
		border-radius: 6px;
		box-shadow: 0 0 2px 0px #818181 inset;
		z-index: 97;
	}
	.complaint-form-header-status {
		position: relative;
		top: 4px;
	}
	.complaint-form-header-status .input-label-format {
		left: 8px;
	}
	@keyframes alert-neutral {
		0% {
			color: transparent;
			background-color: transparent;
			border-color: transparent;
		}
		5% {
			color: #0c5460;
			background-color: #d1ecf1;
			border-color: #bee5eb;
		}
		90% {
			color: #0c5460;
			background-color: #d1ecf1;
			border-color: #bee5eb;
		}
		100% {
			color: transparent;
			background-color: transparent;
			border-color: transparent;
		}
	}
	@keyframes alert-success {
		0% {
			color: transparent;
			background-color: transparent;
			border-color: transparent;
		}
		5% {
			color: #155724;
			background-color: #d4edda;
			border-color: #c3e6cb;
		}
		90% {
			color: #155724;
			background-color: #d4edda;
			border-color: #c3e6cb;
		}
		100% {
			color: transparent;
			background-color: transparent;
			border-color: transparent;
		}
	}
	@keyframes alert-failure {
		0% {
			color: transparent;
			background-color: transparent;
			border-color: transparent;
		}
		5% {
			color: #721c24;
			background-color: #f8d7da;
			border-color: #f5c6cb;
		}
		90% {
			color: #721c24;
			background-color: #f8d7da;
			border-color: #f5c6cb;
		}
		100% {
			color: transparent;
			background-color: transparent;
			border-color: transparent;
		}
	}
	.complaint-form-header-alert {
		padding: 6px 0;
		color: transparent;
		background-color: transparent;
		border-color: transparent;
		border-radius: 6px;
		user-select: none;
	}
	.complaint-form-header-alert-neutral {
		animation: 5s linear 1 alert-neutral;
	}
	.complaint-form-header-alert-success {
		animation: 5s linear 1 alert-success;
	}
	.complaint-form-header-alert-failure {
		animation: 5s linear 1 alert-failure;
	}
	.complaint-form-tabs {
		position: absolute;
		top: -33px;
		left: 0px;
		width: 100%;
		padding: 0 8px;
		user-select: none;
	}
	.form-tab {
		float: left;
		padding: 4px 14px 1px 14px;
		margin: 0 2px;
		background-color: #edf0f1;
		border-color: #60a7d3;
		border-style: solid;
		border-width: 2px;
		border-radius: 20px;
		cursor: pointer;
		transition: all linear .1s;
	}
	.form-tab-right {
		float: right;
	}
	.form-tab:focus, .form-tab:hover {
		outline: none;
	}
	.form-tab-active {
		background-color: white;
		border: 2px solid #60a7d3;
		border-radius: 6px;
		z-index: 1;
	}
	.form-tab-active:focus, .form-tab-active:hover {
		/* box-shadow: 0px 1px 0px 1px rgb(190, 190, 255) inset; */
		outline: none;
	}
	@media only screen and (min-width: 0px) and (max-width: 540px) {
		.complaint-form-content {
			padding: 0;
		}
	}

/* New Complaint Form */
	#app-page-complaint {
		margin-bottom: 40px;
	}
	#app-page-complaint .form-group-title {
		text-align: left;
		padding-left: 8px;
		margin-bottom: -4px;
	}

/* Complaint View Form */
	#complaint-view-form {
		position: relative;
    	padding: 10px 8px 2px 8px;
		margin: auto;
		width: 90%;
		border-radius: 6px;
	}
	@media only screen and (min-width: 0px) and (max-width: 1150px) {
		#complaint-view-form {
			width: 100%;
		}
	}
	.complaint-form-main-title {
		margin-top: 10px;
		margin-bottom: 30px;
		font-size: 1rem;
		color: #609ac1;
	}
	.app-page-content-row-buttons {
		margin: 0 15px;
		width: 100%;
    	text-align: center;
	}

/* Logs */
	.logs-table-container {
		height: 746px;
		display: block;
		width: 94%;
		margin: auto;
		transition: linear .075s all;
	}
	@media only screen and (min-width: 0px) and (max-width: 1300px) {
		.logs-table-container {
			width: 100%;
		}
	}
	.logs-table-container-extend {
		height: 772px;
	}
	#app-table-logs {
		background-color: #246ef0;
	}
	#app-table-logs .table-head {
		color: white;
	}
	#app-table-logs .table-head th {
		background-color: #007acb;
	}
	#app-table-logs .table-head .table-row-search th {
		padding: 2px 0 3px 0;
	}
	#app-table-logs .table-head .table-row-search input,
	#app-table-logs .table-head .table-row-search select {
		margin-top: -2px;
		height: 24px;
		padding: 1px 10px;
		border: 1px solid #007acb;
		border-radius: 3px;
		vertical-align: top;
		transition: linear .075s all;
	}
	#app-table-logs .table-head .table-row-search {
		transition: linear .075s all;
	}
	#app-table-logs .table-head .table-row-search input:focus,
	#app-table-logs .table-head .table-row-search select:focus {
		outline: none;
	}
	#app-table-logs .table-head .table-row-search-hide input,
	#app-table-logs .table-head .table-row-search-hide select {
		height: 0;
		padding: 0;
	}
	#app-table-logs .table-head .table-row-search-hide {
		line-height: 0;
	}
	#app-table-logs .row-id {
		width: 70px;
	}
	#app-table-logs .row-status {
		width: 120px;
	}
	#app-table-logs .row-type {
		width: 120px;
	}
	#app-table-logs .row-complainant {
		width: auto;
	}
	#app-table-logs .row-respondent {
		width: auto;
	}
	#app-table-logs .row-msfw {
		width: 70px;
	}
	#app-table-logs .row-filed-date {
		width: 120px;
	}
	#app-table-logs .row-filed-office {
		width: 120px;
	}
	#app-table-logs .row-icons {
		width: 120px;
		display: none;
	}

/* Print Formatting */
	@media only print {
		html {
			-webkit-print-color-adjust: exact;
		}
		.input-format, .input-format-select, .input-format-textarea {
			border: none;
			box-shadow: none;
		}
		.form-group .input-label-format {
			top: -12px;
			left: 4px;
			font-size: 1rem;
		}
		.input-required-text {
			display: none;
		}
		#app-nav {
			background-color: #ffffff;
			color: black;
		}
		#nav-paths {
			display: none;
		}
		.nav-text {
			margin-top: 4px;
		}
		#app-content {
			padding-left: 0;
			padding-right: 0;
			margin-top: 27px;
		}
		.complaint-form-tabs {
			display: none;
		}
		#complaint-view-form {
			top: 0;
			width: 100%;
			border: none;
			border-radius: 0;
		}
		.complaint-form-header {
			position: relative;
			top: 0;
		}
		.form-group-divider-edit {
			display: none;
		}
		button {
			display: none;
		}
		#complaint_description {
			height: 5in;
		}
	}