body {
	background-color: whitesmoke;
	font-family: sans-serif;
}

/* Vue.js */
	[v-cloak] {
		display: none;
	}
	
/* Inputs */
	.section-divider {
		height: 0;
		margin: 2.5rem -0.5rem;
		overflow: hidden;
		border-top: 1px solid #a4b3c1;
	}
	.section-header {
		margin-top: 90px;
		margin-bottom: 10px;
		font-size: 1.8rem;
		color: #1a7d8a;
		text-decoration: underline;
	}
	.form-group {
		margin-bottom: 0;
	}
	.input-label-format {
		position: absolute;
		top: -12px;
		left: 22px;
		z-index: 1;
		padding: 0px 8px;
		margin-bottom: 0;
		background-color: white;
		color: #767676;
		font-size: 1rem;
		border-radius: 10px;
		user-select: none;
		transition: all .075s;
		pointer-events: none;
	}
	.input-label-format-null {
		top: 10px;
		font-size: 1.05rem;
	}
	.input-format:focus ~ .input-label-format-null,
	.input-format-select:focus ~ .input-label-format-null,
	.input-format-textarea:focus ~ .input-label-format-null {
		top: -12px;
		font-size: 1rem;
	}
	.input-help {
		display: none;
		position: absolute;
		top: 50px;
		left: 28px;
		max-width: 60%;
		background-color: #fff7f7;
		padding: 4px 12px;
		border-radius: 6px;
		border: 2px solid #ffacac;
		z-index: 3;
		pointer-events: none;
	}
	.input-help-triangle {
		position: absolute;
		top: -7px;
		left: 4px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 4px 6px 4px;
		border-color: transparent transparent #f08080 transparent;
	}
	input[type=text].input-format-failed:focus ~ .input-help,
	input[type=tel].input-format-failed:focus ~ .input-help,
	input[type=email].input-format-failed:focus ~ .input-help {
		display: block;
	}
	input[type=file].input-format-error ~ .input-help {
		display: block;
		top: 78px;
	}
	.input-label-format-required:after {
		color: red;
		content: " *";
	}
	.input-format, .input-format-select, .input-format-textarea {
		font-size: 1.2rem;
		min-height: 42px;
		border-radius: 6px;
		border: 1px solid #c2c7cb;
		margin-bottom: 30px;
		transition: all .2s;
	}
	.input-format, .input-format-textarea {
		-webkit-appearance: none;
		padding: 10px 18px 4px 18px;
	}
	.input-format-select {
		padding: 12px 14px 7px 14px;
	}
	.input-format-select option {
		background-color: #eaf4ff;
	}
	.input-format-textarea {
		resize: none;
	}
	.input-format:focus, .input-format-select:focus, .input-format-textarea:focus {
		border: 1px solid #288079;
		box-shadow: 1px 1px 2px darkgrey;
		outline: none;
	}
	.input-label-format-set {
		margin-bottom: 0;
		padding-top: 8px;
		font-size: 1.12rem;
		color: #767676;
	}
	@media handheld, only screen and (min-width: 768px) and (max-width: 991px) {
		.input-label-format-set {
			padding-top: 0;
			margin-top: -8px;
		}
	}
	.input-format-radio {
		opacity: 0;
	}
	.input-label-format-radio {
		padding: 8px 30px;
		margin: 4px;
		border: 1px solid #c2c7cb;
		border-radius: 6px;
		cursor: pointer;
		outline: none;
		user-select: none;
		transition: all .1s;
	}
	.input-format-radio:focus + .input-label-format-radio {
		border: 1px solid #288079;
		outline: none;
	}
	.input-format-radio:checked + .input-label-format-radio {
		background-color: #4b6679;
		color: white;
		border: 1px solid #288079;
		box-shadow: 1px 1px 2px darkgrey;
	}
	.input-label-format-passed:focus {
		border: 1px solid greenyellow !important;
	}
	.input-label-format-failed {
		border: 1px solid lightcoral !important;
	}
	.input-label-format-changed {
		border: 1px solid #de8821 !important;
	}
	input[type=radio] {
		width: 0;
		height: 0;
		visibility: visible;
		opacity: 0;
	}
	.input-required-failed {
		border: 1px solid #E64423;
	}
	.input-required-text, .input-required-select, .input-required-textarea {
		display: none;
		position: absolute;
		left: 15px;
		font-size: .875rem;
		color: #E64423;
	}
	.input-required-radio {
		display: none;
		width: 100%;
		font-size: .875rem;
		color: #E64423;
	}
	.input-required-text {
		top: 50px;
	}
	.input-required-textarea {
		top: 192px;
	}
	.input-required-select {
		top: 52px;
	}
	.input-required-radio {
		top: 70px;
	}
	.input-required-failed ~ .input-required-text,
	.input-required-failed ~ .input-required-textarea,
	.input-required-failed ~ .input-required-select,
	.input-required-failed ~ .input-required-radio {
		display: block !important;
	}

/* Navigation Bar */
	#app-nav {
		background-color: #0071BC;
		position: fixed;
		top: 0;
		width: 100%;
		padding: 6px 0 0 20px;
		color: white;
		z-index: 99;
	}
	.nav-text {
		margin-top: 12px;
		font-size: 	1.125rem;
		text-transform: capitalize;
	}
	#nav-paths {
		justify-content: flex-end;
		padding-right: 20px;
	}
	.nav-path {
		min-width: 55px;
		padding: 4px 6px 0 6px;
		margin: 0 4px;
		border: 1px solid transparent;
		border-radius: 7px 7px 0 0;
		text-align: center;
		color: white;
		text-decoration: none;
		cursor: pointer;
		user-select: none;
		transition: all linear .1s;
	}
	.nav-path:hover, .nav-path:focus:not(.nav-path-selected) {
		background-color: #0089e4;
		color: white;
	}
	.nav-path, .nav-path:hover {
		outline: none;
	}
	.nav-path-selected, .nav-path-selected:hover {
		background-color: whitesmoke;
		color: #1b5ac7;
		border: solid #1b5ac7;
		border-width: 1px 1px 0 1px;
	}
	.nav-path-selected:focus {
		border-color: #1a4081;
		color: #0a285c;
	}
	.nav-path-icon svg {
		height: 20px;
		width: 20px;
	}
	.nav-path-text {
		font-size: 0.75rem;
	}
	@media only screen and (min-width: 0px) and (max-width: 575px) {
		#app-nav {
			padding: 6px 0 0 0;
		}
		.nav-text {
			width: 100%;
			font-size: 1.25rem;
			margin-bottom: 10px;
		}
		#nav-paths {
			justify-content: center;
		}
		.nav-path {
			margin: 1px;
		}
	}

/* App */
	#app-content {
		padding: 24px 25px;
		margin-top: 54px;
	}
	@media only screen and (min-width: 0px) and (max-width: 767px) {
		#app-content {
			padding: 10px 25px;
		}
	}

/* Skip To Content */
	#skip-to-content {
		background-color: white;
		position: absolute;
		top: -36px;
		left: 10px;
		padding: 4px 14px;
		border: 1px solid blue;
		border-radius: 8px;
		z-index: 999;
		transition: .1s all;
	}
	#skip-to-content:focus {
		top: 4px;
		left: 4px;
		outline: none;
	}

/* Buttons */
	.btn-main {
		padding: 6px 18px;
		background-color: #F3F8FE;
		border: 1px solid #2C7AFF;
		border-radius: 8px;
		box-shadow: 0 0 1px #2C7AFF;
		color: #1b5ac7;
		font-size: 0.9375rem;
		font-weight: 600;
		user-select: none;
		transition: all linear .05s;
	}
	.btn-main:hover {
		background-color: #2C7AFF;
		color: white;
		border: 1px solid #1b5ac7;
	}
	.btn-main:focus {
		border: 1px solid #3063bd;
		box-shadow: 0 0 2px #2C7AFF, 0 0 3px #2C7AFF inset;
		outline: none;
	}
	.btn-main:active {
		-webkit-transform: scale(0.94);
		transform: scale(0.94);
		box-shadow: none;
	}
	/* Drop Down Menu */
		.drop-menu {
			float: right;
			margin-left: 8px;
			user-select: none;
		}
		.drop-menu-options {
			background-color: #f3f8fe;
			position: absolute;
			top: 38px;
			border: 2px solid #2c7aff;
			border-radius: 8px;
			font-size: 0.9375rem;
			font-weight: 600;
			color: #1b5ac7;
			z-index: 1;
			overflow: hidden;
		}
		.drop-menu-options-option {
			padding: 6px 13px;
			cursor: pointer;
			transition: all linear .05s;
		}
		.drop-menu-options-option:hover {
			background-color: #2C7AFF;
			color: white;
		}

/* Modal */
	.app-page-modal {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(14, 31, 53, 0.5);
		color: black;
		z-index: 998;
		pointer-events: none;
		user-select: none;
	}
	.app-page-modal-show {
		display: block;
		pointer-events: all;
		user-select: auto;
	}
	.modal-container {
		position: relative;
		top: 200px;
		height: 400px;
		width: 700px;
		margin: auto;
		background-color: white;
		border: 1px solid #a3ccff;
		border-radius: 14px;
		transition: .1s all;
	}
	.modal-close {
		position: absolute;
		top: 9px;
		right: 9px;
		padding: 3px;
		background-color: transparent;
		border: 1px solid white;
		border-radius: 14px;
		box-shadow: 0 0 2px -2px #ffd6d6 inset;
		cursor: pointer;
		transition: linear .1s all;
	}
	.modal-close:hover {
		border-color: #ffd6d6;
		box-shadow: 0 0 2px 15px #ffd6d6 inset;
	}
	.modal-close svg {
		color: red;
	}

/* Login */
	.login-content {
		background-color: white;
		padding: 18px;
		border: 1px solid #76b3ff;
		border-radius: 50px;
		box-shadow: 0 0 4px -1px #bad4ff;
	}
	.login-help {
		background-color: #f4f4f4;
		padding: 10px 18px;
		border-radius: 40px;
		box-shadow: 0 0 2px #b7b7b7 inset;
	}
	.login-help-hr {
		margin: 5px 0;
	}
	.login-help-content {
		font-size: 0.875rem;
	}
	.login-form {
		padding: 40px;
	}
	.login-input-label {
		width: 100%;
		margin-bottom: 0;
		padding-left: 7px;
		font-size: 0.875rem;
		color: #144497;
		user-select: none;
	}
	.login-input {
		width: 100%;
		padding: 6px 12px 4px 12px;
		border: 1px solid #accbff;
		border-radius: 10px;
		box-shadow: 0 0 2px -1px #2C7AFF;
		color: #144497;
		transition: all linear .1s;
	}
	.login-input:focus {
		border: 1px solid #75a3f3;
		box-shadow: 0 0 2px rgb(100, 157, 255), 0 0 2px rgb(92, 152, 255) inset;
		outline: none;
	}
	.login-form-input-help {
		height: 0;
		position: relative;
		left: 8px;
		font-size: .875rem;
		color: transparent;
		user-select: none;
		transition: .1s all;
	}
	.login-form-input-help-show {
		height: 1rem;
		color: #E64423;
	}
	#login-form-submit {
		transition: all linear .15s;
	}
	.login-form-submit-loading svg {
		position: relative;
		top: -1px;
		height: 16px;
		width: 16px;
		margin-left: 10px;
		margin-right: -4px;
		stroke: #1b5ac7;
		transition: all linear .1s;
	}
	#login-form-submit:hover .login-form-submit-loading svg {
		stroke: white !important;
	}

/* Index */
	/* Notification */
		.app-notif-content {
			padding: 8px 20px;
			margin-top: 4px;
			background-color: white;
			border: 1px solid #a3ccff;
			border-radius: 9px;
			box-shadow: 0 0 4px -1px #bad4ff;
		}
		.app-notif-title {
			margin: 8px 0;
			font-size: 1.5rem;
			color: #2b384a;
			text-align: center;
		}
		.app-notif-content hr {
			width: 70%;
			margin: 4px auto 20px auto;
		}
		.notification {
			background-color: #fbfdff;
			padding: 4px;
			cursor: pointer;
			user-select: none;
			border: 1px solid #dee3e9;
			border-radius: 9px;
			margin: 6px 0;
			box-shadow: 0 0 1px #4f78b3;
			transition: all linear .1s;
		}
		.notification:hover {
			border: 1px solid #9cb1cf;
			box-shadow: 0 0 2px #7a96be inset;
		}
		.notification-urgent {
			border-color: pink;
		}
		.notification-icon {
			background-color: white;
			height: 30px;
			margin: 2px 0 2px 10px;
			padding: 0 5px 2px 5px;
			border: 2px solid #b4dae6;
			border-radius: 20px;
			text-align: center;
		}
		.notification-icon svg {
			margin-top: -2px;
			height: 16px;
			width: 16px;
			color: #3b4b61;
		}
		.notification-subject {
			padding-top: 4px;
			color: #2b384a;
			font-size: 1rem;
		}
		.notification-subject-target {
			font-weight: bold;
		}

/* Complaint Form */
	#complaint-form {
		position: relative;
		top: 45px;
		padding: 18px;
		margin: auto;
		width: 80%;
		background-color: white;
		border: 1px solid #76b3ff;
		border-radius: 14px;
		box-shadow: 0 0 4px -1px #bad4ff;
	}
	.complaint-form-tabs {
		position: absolute;
		top: -30px;
		user-select: none;
	}
	.form-tab {
		float: left;
		padding: 4px 12px 0 12px;
		margin: 0 2px;
		background-color: #ececec;
		border-color: #76b3ff;
		border-style: solid;
		border-width: 1px;
		border-radius: 10px 10px 0 0;
		cursor: pointer;
		transition: all linear .1s;
	}
	.form-tab-active {
		background-color: white;
		border-bottom: 1px solid white;
		z-index: 1;
	}
	.complaint-form-page-content {
		margin-top: 30px;
	}

/* Logs */
	.logs-table-container {
		height: 687px;
		display: block;
		width: 90%;
		margin: auto;
	}
	.logs-table {
		border-collapse: collapse;
		width: 100%;
		background-color: #0071BC;
		border-radius: 9px;
		border: 2px solid lightgray;
		overflow: hidden;
	}
	.table-head {
		color: white;
		/* box-shadow: 0 -1px 0 #929292 inset; */
	}
	.table-head th {
		background-color: #0071BC;
		padding: 4px 0 3px 0;
		font-size: 0.875rem;
	}
	.table-head .table-row th:first-child {
		border-radius: 7px 0 0 2px;
	}
	.table-head .table-row th:last-child {
		width: 104px;
		border-radius: 0 7px 2px 0;
	}
	.table-body {
		font-size: 0.9375rem;
	}
	.table-body .table-row:hover {
		background-color: #f3f3f3;
		cursor: pointer;
	}
	.table-body .table-row td {
		background-color: white;
		padding: 4px 12px 3px 12px;
		border-bottom: 1px solid #dee2e6;
		border-right: 1px solid #dee2e6;
	}
	.table-body .table-row:nth-child(even) td {
		background-color: #f4f7ff;
	}
	.table-body .table-row td:first-child {
		border-radius: 2px 0 0 2px;
	}
	.table-body .table-row td:last-child {
		border-radius: 0 2px 2px 0;
	}
	.table-body .table-row:hover, .table-body .table-row:hover td {
		outline: none;
		background-color: #f0f0f0;
	}
	.table-body .table-row:focus, .table-body .table-row:focus td {
		outline: none;
		background-color: #dddddd;
	}
	.row-icons [class^="icons-"] {
		float: left;
		width: 22%;
		margin: 0 5px;
		transition: .05s all;
	}
	.row-icons [class^="icons-"]:hover {
		transform: scale(1.1);
	}
	.row-icons svg {
		height: 20px;
		width: 20px;
		color: #e0e0e0;
		transform: scale(.75);
		transition: all linear .1s;
		cursor: pointer;
	}
	.table-row:hover .row-icons svg, .table-row:focus .row-icons svg {
		color: black;
		transform: scale(1);
	}
	.row-icons [class^="icons-"]:hover svg {
		color: #398ABF;
	}
	.status-text {
		float: left;
		width: 70%;
	}
	.status-marker {
		float: left;
		width: 30%;
	}
	.status-marker div {
		position: relative;
		width: 10px;
		height: 10px;
		margin: 6px 10px 0 auto;
		border-radius: 10px;
	}
	.status-marker-active {
		background-color: #6fff7b;
		box-shadow: 0 0 0px 1px #4ce745;
	}
	.status-marker-inactive {
		background-color: #f8f8f8;
		box-shadow: 0 0 0px 1px #cdcdcd;
	}


	.tabCol1 {
		width: 70px;
	}
	.tabCol2 {
		width: 120px;
	}
	.tabCol3 {
		width: 120px;
	}
	.tabCol4 {
		width: auto;
	}
	.tabCol5 {
		width: auto;
	}
	.tabCol6 {
		width: 70px;
	}
	.tabCol7 {
		width: 120px;
	}
	.tabCol8 {
		width: 120px;
	}
	.tabCol9 {
		width: 120px;
	}


	@media only screen and (min-width: 0px) and (max-width: 767px) {
		.status-marker-active {
			width: 100%;
			background: none;
			box-shadow: none;
			color: #078700;
			font-weight: bold;
		}
		.status-marker-inactive {
			width: 100%;
			background: none;
			box-shadow: none;
			color: #757575;
		}

		.table-head .table-row th:nth-child(3) {
			display: none;
		}
		.table-head .table-row th:nth-child(6) {
			display: none;
		}
		.table-head .table-row th:nth-child(8) {
			display: none;
		}

		.table-body .table-row td:nth-child(3) {
			display: none;
		}
		.table-body .table-row td:nth-child(6) {
			display: none;
		}
		.table-body .table-row td:nth-child(8) {
			display: none;
		}
		
		.row-icons svg {
			color: rgb(92, 92, 92);
			transform: scale(1);
		}
	}